<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<div class="login-page">
 <!-- Logo with link to home page -->
 <a routerLink="/">
   <img src="/assets/garden-nexus-logo.webp" class="main-logo" />
 </a>

 <div class="form-container">
   <div class="login-header">Register to Garden Nexus</div>

   <!-- Error messages display -->
   <div class="errors" *ngIf="errorMessages.length > 0">
     <p *ngFor="let error of errorMessages" class="error-message">{{ error }}</p>
   </div>

   <!-- Registration form -->
   <form [formGroup]="form" (ngSubmit)="onSubmit()">
     <!-- Email input -->
     <div class="input-container">
       <input
         formControlName="email"
         type="email"
         placeholder="Email"
         class="login-input"
         [ngClass]="{'invalid-input': form.get('email')?.invalid}"
       />
     </div>

     <!-- Username input with character count -->
     <div class="input-container-no-gap">
       <input
         formControlName="username"
         placeholder="Username"
         class="login-input"
         [ngClass]="{'invalid-input': form.get('username')?.invalid}"
         maxlength="{{ maxUsernameLength }}"
       />
       <div class="word-count" [class.error-text]="isUsernameTooLong()">
         Character count: {{ getUsernameCharCount() }}/{{ maxUsernameLength }}
       </div>
     </div>

     <!-- Password input with length requirements -->
     <div class="input-container-no-gap">
       <input
         formControlName="password"
         type="password"
         placeholder="Password"
         class="login-input"
         [ngClass]="{'invalid-input': form.get('password')?.invalid}"
         [attr.maxlength]="maxPasswordLength"
       />
       <div class="word-count">
         Min. length: {{ minPasswordLength }} characters
       </div>
     </div>

     <!-- Confirm password input -->
     <div class="input-container">
       <input
         formControlName="confirmPassword"
         type="password"
         placeholder="Confirm Password"
         class="login-input"
         [ngClass]="{'invalid-input': form.get('confirmPassword')?.invalid || form.errors?.['passwordMismatch']}"
         [attr.maxlength]="maxPasswordLength"
       />
     </div>

     <!-- Terms of Service agreement checkbox -->
     <div class="terms-checkbox">
       <input
         type="checkbox"
         formControlName="agreeToTerms"
         id="agreeToTerms"
       />
       <label for="agreeToTerms">
         I agree to the <a href="#" (click)="openTermsModal($event)">Terms of Service</a>
       </label>
     </div>

     <!-- Submit button -->
     <button type="submit" class="login-submit-button">Register</button>
   </form>
   
   <!-- Link to sign in page -->
   <div class="bottom-form-links">
     <a routerLink="/login" class="register-link">Sign in</a>
   </div>
 </div>
</div>

<app-footer></app-footer>