@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import '@angular/material/prebuilt-themes/azure-blue.css';
@import './styles/reset.css';
@import './styles/global.css';
@import './styles/login.css';
@import './styles/home.css';
@import './styles/toolbar.css';
@import './styles/navbar.css';
@import './styles/footer.css';
@import './styles/imageSlider.css';
@import './styles/profile.css';
@import './styles/editProfileModal.css';
@import './styles/blog.css';
@import './styles/createBlog.css';
@import './styles/blog-preview.css';
@import './styles/comment.css';
@import './styles/confirmation-dialog.css';
@import './styles/forum.css';
@import './styles/searchBar.css';
@import './styles/forumReplies.css';
@import './styles/termsOfServiceModal.css';
@import './styles/help.css';


.toast-container {
    z-index: 1000000;
  }

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif, 'Montserrat'; }
