<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<div class="profile-content-container">
  <div class="profile-content">
    <h1 class="profile-heading">Blogs</h1>
  </div>
</div>

<div class="img-spacer">
  <img class="img-spacer-image" src="assets/spacer-img-1.png" alt="Placeholder Image">
</div>

<div class="toolbar">
  <div class="toolbar-content">
    <div class="left">
      <div class="dropdown" [class.open]="isDropdownOpen">
        <button class="dropdown-toggle" type="button" (click)="toggleDropdown()">
          Categories
        </button>
        <div class="dropdown-menu">
          <label *ngFor="let category of categories">
            <input type="checkbox" [(ngModel)]="category.selected"> {{ category.name }}
          </label>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="search-box">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search...">
        <button (click)="searchBlogs()">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="inline-toolbar">
  <div class="inline-toolbar-content">
    <div class="left">
      <button (click)="createBlogPost()">Create a Post</button>
    </div>
    <div class="center">
      <h2>Featured Blog Posts</h2>
    </div>
    <div class="right">
      <button (click)="sortBlogsByNewest()">New</button>
      <button (click)="sortBlogsByNewest()">Popular</button>
    </div>
  </div>
</div>

<div class="profile-content-container">
  <hr class="styled-hr">
</div>

<div class="blog-list-container">
  <div class="blog-list-content">
    <app-blog-preview *ngFor="let blog of blogs" [blog]="blog"></app-blog-preview>
  </div>  
</div>

<app-footer></app-footer>
