<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<!-- <div class="profile-content-container">
  <div class="profile-content">
    <h1 class="profile-heading">Blogs</h1>
  </div>
</div> -->

<div class="img-spacer">
  <img class="img-banner-image" src="assets/spacer-img-2.webp" alt="Placeholder Image">
</div>

<div class="toolbar">
  <div class="toolbar-content">
    <div class="left">
      <div class="category-dropdown" #categoryDropdown>
        <button #dropdownToggle class="category-dropdown-toggle" type="button" (click)="toggleDropdown($event)">
          Categories
        </button>
        <div class="category-dropdown-menu" [style.display]="isDropdownOpen ? 'block' : 'none'">
          <label *ngFor="let category of categories">
            <input type="checkbox" [(ngModel)]="category.selected"> {{ category.name }}
          </label>
        </div>
        <button class="reset-btn" (click)="resetSearch()">Reset</button>
      </div>
    </div>
    <div class="right">
      <div class="search-box">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search...">
        <button [disabled]="isSearchButtonDisabled" (click)="searchBlogs()">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="inline-toolbar">
  <div class="inline-toolbar-content">
    <div class="blog-header-container">
      <h2>{{ blogHeader }}</h2>
    </div>
    <div class="sort-btns-container">
      <button class="sort-btn sort-newest-btn" (click)="sortBlogs('newest')">Newest</button>
      <button class="sort-btn sort-oldest-btn" (click)="sortBlogs('oldest')">Oldest</button>
    </div>
  </div>
</div>

<div class="profile-content-container">
  <hr class="styled-hr">
</div>


<div class="create-post-btn-container">
  <div class="create-post-btn-content">
    <button class="create-post-btn" (click)="createBlogPost()">Create a Post</button>
  </div>
</div>
<!-- Display no results message if no blogs are found -->
<div class="profile-content-container" *ngIf="noResults">
  <div class="profile-content">
    <div class="search-error-message">
      <p>No blogs found for the selected categories and search query.</p>
    </div>
  </div>
</div>

<div class="profile-content-container">
  <div class="profile-content">
    <div class="blog-list-container">
      <div class="blog-list-content">
        <div class="blog-item" *ngFor="let blog of displayedBlogs">
          <app-blog-preview [blog]="blog"></app-blog-preview>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="profile-content-container" *ngIf="blogs.length > displayedBlogs.length">
  <div class="profile-content">
    <button class="load-more-btn" (click)="loadMoreBlogs()">
      <img src="assets/arrow_down.png" alt="Load More">
    </button>
  </div>
</div>

<app-footer></app-footer>
