<!-- src/app/shared/footer/footer.component.html -->
<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <img src="assets/garden-nexus-logo.webp" alt="Logo" class="footer-logo">
    </div>
    <div class="footer-center">
      <div class="footer-center-content">
        <h3 class="footer-title">Quick Links</h3>
        <a routerLink="/" class="footer-link">Home</a>
        <a (click)="goToProfile()" class="footer-link">Profile</a>
        <a routerLink="/blogs" class="footer-link">Blog</a>
        <a routerLink="/forum" class="footer-link">Forum</a>
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-right-content">
        <h3 class="footer-title">Extra Links</h3>
        <a routerLink="/help" class="footer-link">Help</a>
        <a routerLink="/about" class="footer-link">About</a>
      </div>
    </div>
  </div>
</footer>
