<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<div class="login-page">
  <a routerLink="/">
    <img src="/assets/garden-nexus-logo.webp" class="main-logo" />
  </a>
  <div class="form-container">
    <div class="login-header">Forgot Password</div>
    <div class="instructions">Enter your email and receive instructions on how to reset your password.</div>
    <div class="success" *ngIf="successMessage">{{ successMessage }}</div>
    <div class="errors" *ngIf="errorMessage">{{ errorMessage }}</div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
          <input
            formControlName="email"
            type="email"
            placeholder="Email"
            class="login-input"
          />
        </div>
        <button type="submit" class="login-submit-button" [disabled]="isLoading">
          {{ isLoading ? 'Sending...' : 'Reset Password' }}
        </button>
      </form>
    <div class="bottom-form-links">
      <a routerLink="/login" class="register-link">Back to Login</a>
    </div>
  </div>
</div>

<app-footer></app-footer>