<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<div class="forgot-password-page">
  <a routerLink="/">
    <img src="/assets/garden-nexus-logo.webp" class="main-logo" />
  </a>
  <div class="form-container">
    <div class="forgot-password-header">Forgot Password</div>
    <div class="success-message" *ngIf="successMessage">{{ successMessage }}</div>
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <input
          formControlName="email"
          type="email"
          placeholder="Email"
          class="forgot-password-input"
        />
      </div>
      <button type="submit" class="forgot-password-submit-button">Reset Password</button>
    </form>
    <div class="bottom-form-links">
      <a routerLink="/login" class="login-link">Back to Login</a>
    </div>
  </div>
</div>

<app-footer></app-footer>