<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<div class="profile-content-container">
    <div class="profile-content">
      <h1 class="blog-heading">{{ forum?.title | titlecase }}</h1>
    </div>
  </div>

<!-- <div class="profile-content-container">
  <hr class="styled-hr">
</div> -->

<div class="profile-content-container" *ngIf="forum">
  <div class="blog-content">
    <div class="forum-background">
      <div class="dropdown-placement">
        <div class="forum-author-box" *ngIf="!isEditMode">
          <img [src]="getImageUrl(user?.imageFile)" alt="Author's profile picture" class="author-profile-image">
          <div class="author-info">
            <p class="blog-author"><a [routerLink]="['/profile', user?.username]">By: {{ user?.username | titlecase }}</a></p>
          </div>
        </div>
        <div class="test">
          <div class="is-edited-container" *ngIf="forum.isEdited && !isEditMode">
            <h6 class="edited-text">(edited)</h6>
          </div>
          <div class="dropdown" *ngIf="currentUser && forum && currentUser._id === forum.user_id && !isEditMode">
            <button class="dropdown-toggle" (click)="toggleForumDropdown($event)">
              <img src="assets/ellipsis.png" alt="More options" class="ellipsis-icon">
            </button>
            <div class="dropdown-menu" [ngClass]="{'show': showForumDropdown}">
              <label class="forum-options-label" (click)="toggleEditMode()">Edit</label>
              <label class="forum-options-label" (click)="forum._id && deleteForum(forum._id)">Delete</label>
            </div>
          </div>
        </div>
      </div>

      <form *ngIf="isEditMode" (ngSubmit)="saveForumChanges()" #forumForm="ngForm">
        <!-- Title Input -->
        <div class="form-element" [class.error]="formSubmitted && (!title.valid || forum.title.length > maxTitleLength)">
          <label for="title" class="form-label">Title:</label>
          <div class="input-file-wrapper">
            <input type="text" id="title" [(ngModel)]="forum.title" name="title" required class="form-input" #title="ngModel" maxlength="100">
            <div class="word-count" [class.error-text]="forum.title.length > maxTitleLength">
              Character count: {{ forum.title.length }}/100
            </div>
            <div *ngIf="formSubmitted && !title.valid" class="error-text">Required</div>
            <div *ngIf="forum.title.length > maxTitleLength" class="error-text">Title exceeds maximum length</div>
          </div>
        </div>
      
        <!-- Content -->
        <div class="form-element" [class.error]="formSubmitted && (!content.valid || forum.content.length < minContentLength)">
          <label for="content" class="form-label">Content:</label>
          <div class="input-file-wrapper">
            <textarea id="content" [(ngModel)]="forum.content" name="content" required class="form-input auto-grow" #content="ngModel" maxlength="1000"></textarea>
            <div class="word-count" [class.error-text]="forum.content.length > maxContentLength">
              Character count: {{ forum.content.length }}/1000 - Min 200 Characters.
            </div>
            <div *ngIf="formSubmitted && !content.valid && forum.content.length === 0" class="error-text">Required</div>
            <div *ngIf="formSubmitted && forum.content.length > 0 && forum.content.length < minContentLength" class="error-text">Content must be at least 200 characters</div>
            <div *ngIf="forum.content.length > maxContentLength" class="error-text">Content exceeds maximum length</div>
          </div>
        </div>

          <!-- Categories -->
          <div class="form-element">
              <label for="categories" class="form-label">Categories:</label>
                  <div class="categories-container">
                      <div class="category-item" *ngFor="let category of categories">
                          <label>
                            <input type="checkbox" (change)="toggleCategory(category.name)" [checked]="forum.categories.includes(category.name)"> {{ category.name }}
                          </label>
                      </div>
                  </div>
              </div>
          

        <!-- Error message displayed if form submission fails -->
        <div *ngIf="formSubmitted && (!forumForm.valid || forum.content.length < minContentLength)" class="error-text">
          Please fix any errors before submitting.
        </div>
        <div class="forum-btn-bar-container">
          <div class="forum-btn-bar">
            <button class="edit-comment-btn cancel-btn" type="button" (click)="cancelEdit()">Cancel</button>
            <button class="edit-comment-btn save-btn" type="submit">Save</button>
          </div>
        </div>
      </form>

      <div *ngIf="!isEditMode">
        <div class="forum-content-container">
          <p>{{ forum.content }}</p>
        </div>
        <div class="forum-categories" *ngIf="forum.categories && forum.categories.length > 0">
          <div class="forum-categories-container">
            <h4>Categories:</h4>
            <div class="category-labels">
              <span class="category-label" *ngFor="let category of forum.categories">
                {{ category }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="profile-content-container" *ngIf="!isEditMode">
  <div class="comment-content">
    <div class="comment-section">
      <div *ngFor="let comment of comments" class="reply">
        <div class="reply-left">
          <img [src]="comment.user.imageFile || 'assets/garden-nexus-logo.webp'" alt="User Image" class="reply-profile-image">
          <div class="user-info">
            <a [routerLink]="['/profile', comment.user.username]" class="reply-comment-author">{{ comment.user.username | titlecase }}</a>
          </div>
        </div>
        <div class="reply-right">
          <div *ngIf="commentBeingEdited && commentBeingEdited._id === comment._id">
            <textarea 
            [(ngModel)]="editCommentText" 
            (ngModelChange)="checkCommentLength('edit')" 
            [ngClass]="{'error-border': isEditCommentTooLong}"
            class="edit-comment-textarea"
            (click)="$event.stopPropagation()"
            (focus)="$event.stopPropagation()">
          </textarea>
            <div class="word-count-container">
              <div class="word-count" [class.error-text]="editCommentText.length > maxCommentLength">
                Character count: {{ editCommentText.length }}/{{ maxCommentLength }}
              </div>
              <div *ngIf="isEditCommentTooLong" class="error-message">Comment cannot exceed 600 characters.</div>
            </div>
            <div class="btn-bar">
              <button class="edit-comment-btn cancel-btn" (click)="cancelEditComment()">Cancel</button>
              <button class="edit-comment-btn save-btn" (click)="saveEditedComment()">Save</button>
            </div>
          </div>
          <div class="reply-toolbar" *ngIf="!commentBeingEdited || commentBeingEdited._id !== comment._id">
            <div class="comment-header">
              <div class="comment-header-left">
                <p class="reply-date">{{ comment.createdAt | date:'dd/MM/yy, h:mm a' }}</p>
              </div>
              <div class="comment-header-right">
                <div class="icon-container">
                  <button class="quote-icon-container" *ngIf="currentUser && currentUser.isVerified" (click)="quoteComment(comment)">
                    <img src="assets/quote.png" alt="Quote comment" class="quote-icon">
                  </button>
                  <div class="dropdown" *ngIf="currentUserMatchesCommentUser(comment.user, currentUser)">
                    <button class="dropdown-toggle" (click)="toggleDropdown(comment, $event)">
                      <img src="assets/ellipsis.png" alt="More options" class="ellipsis-icon">
                    </button>
                    <div class="dropdown-menu" [ngClass]="{'show': comment.showDropdown}">
                      <label (click)="editComment(comment)">Edit</label>
                      <label (click)="deleteComment(comment._id)">Delete</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="comment.replyingTo" class="comment-reply-text">
              <p><strong>Replying to {{ (comment.user.username | titlecase) || 'a comment' }}:</strong></p>
              <p>"{{ comment.replyingTo.comment }}"</p>
            </div>
            <p class="reply-text">{{ comment.comment }} <span *ngIf="comment.isEdited">(edited)</span></p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentUser && currentUser.isVerified" class="add-comment-section">
      <div *ngIf="replyingToComment" class="quoted-comment">
        <p>Replying to {{ replyingToComment.user.username || 'a comment' }}:</p>
        <p>"{{ replyText }}"</p>
        <button class="cancel-reply-btn" (click)="cancelReply()">Cancel Reply</button>
      </div>
      <textarea [(ngModel)]="newComment" placeholder="Add a comment..." (ngModelChange)="checkCommentLength('new')" [ngClass]="{'error-border': isNewCommentTooLong}" maxlength="600"></textarea>
      <div class="word-count-container">
        <div class="word-count" [class.error-text]="newComment.length > maxCommentLength">
          Character count: {{ newComment.length }}/{{ maxCommentLength }}
        </div>
        <div *ngIf="isNewCommentTooLong" class="error-message">Comment cannot exceed 600 characters.</div>
      </div>
      <button (click)="addComment()" [disabled]="isNewCommentTooLong">Post Comment</button>
    </div>
  </div>
</div>

<div class="profile-content-container" *ngIf="!isEditMode">
  <hr class="styled-hr">
</div>

<div class="profile-content-container" *ngIf="!isEditMode">
  <div class="profile-content">
    <button class="back-btn" (click)="goBack()">Back</button>
  </div>
</div>

<app-footer></app-footer>