<!-- src/app/home/home.component.html -->
<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<div class="home-content-container">
  <div class="home-content">
    <h1 class="home-heading">Garden Nexus</h1>
    <div class="home-text-container">
      <p class="home-text">
        The hub for connecting gardeners, sharing knowledge, and discovering new ideas.
      </p>
      <hr class="styled-hr">
      <p class="home-text">
        Explore insightful blogs,
        engage in dynamic forum discussions, and build lasting connections.
      </p>
    </div>
  </div>
</div>

<div class="image-slider-container">
  <image-slider [slides]="slides"></image-slider>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
