<!-- src/app/shared/navbar/navbar.component.html -->
<div class="navbar-container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav w-100 d-flex justify-content-around">
          <div class="nav-item left-end" routerLink="/" routerLinkActive="active" role="button">Home</div>
          <div class="nav-item" (click)="goToProfile()" role="button">Profile</div>
          <div class="nav-item" routerLink="/blogs" routerLinkActive="active" role="button">Blogs</div>
          <div class="nav-item" routerLink="/forum" routerLinkActive="active" role="button">Forum</div>
          <div class="nav-item right-end" routerLink="/help" routerLinkActive="active" role="button">Help</div>
        </div>
      </div>
    </div>
  </nav>
</div>
