<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<div class="profile-content-container">
  <div class="profile-content">
    <h1 class="profile-heading">{{ blog?.title }}</h1>
    <div class="blog-author-container">
      <p class="blog-author"><a [routerLink]="['/profile', user?.username]">By: {{ user?.username | titlecase }}</a></p> 
    </div>
  </div>
</div>

<div class="profile-content-container">
  <hr class="styled-hr">
</div>

<div class="profile-content-container" *ngIf="blog">
  <div class="profile-content">
    <div class="blog-section" *ngIf="blog.image_1 || blog.content_section_1">
      <div class="blog-img">
        <img *ngIf="blog.image_1" [src]="blog.image_1" alt="Blog Image 1">
      </div>
      <div class="blog-content-container">
        <p>{{ blog.content_section_1 }}</p>
      </div>
    </div>
    <div class="blog-section" *ngIf="blog.image_2 || blog.content_section_2">
      <div class="blog-img">
        <img *ngIf="blog.image_2" [src]="blog.image_2" alt="Blog Image 2">
      </div>
      <div class="blog-content-container">
        <p>{{ blog.content_section_2 }}</p>
      </div>
    </div>
    <div class="blog-section" *ngIf="blog.image_3 || blog.content_section_3">
      <div class="blog-img">
        <img *ngIf="blog.image_3" [src]="blog.image_3" alt="Blog Image 3">
      </div>
      <div class="blog-content-container">
        <p>{{ blog.content_section_3 }}</p>
      </div>
    </div>
  </div>
</div>

<div class="profile-content-container">
  <div class="back-btn-container">
    <button class="back-btn" (click)="goBack()">Back</button>
  </div>
</div>

<app-footer></app-footer>
