<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<div class="profile-content-container">
  <div class="profile-content">
    <h1 class="profile-heading">Profile</h1>
  </div>
</div>

<div class="img-banner">
  <img class="banner-image" src="assets/spacer-img-1.png" alt="User banner image">
</div>

<div class="profile-container" *ngIf="profile">
  <h2>{{ profile.username }}'s Profile</h2>
  <p><strong>Country:</strong> {{ profile.country || 'Not specified' }}</p>
  <p><strong>Bio:</strong> {{ profile.bio || 'Not specified' }}</p>
  <div *ngIf="profile.imageFile">
    <strong>Profile Image:</strong>
    <img [src]="'data:image/jpeg;base64,' + profile.imageFile" alt="Profile Image" />
  </div>
  <button *ngIf="isOwner" (click)="openEditProfileModal()">Edit Profile</button>
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<app-footer></app-footer>

<app-edit-profile-modal [profile]="profile!" (profileUpdated)="fetchProfile(profile!.username)" *ngIf="isModalOpen" (close)="isModalOpen = false"></app-edit-profile-modal>
