<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<div class="img-banner">
  <img class="img-banner-image" src="assets/spacer-img-7.webp" alt="User banner image">
  <div class="profile-picture-container">
    <img class="profile-picture" [src]="profile?.imageFile ? 'data:image/jpeg;base64,' + profile!.imageFile : 'assets/garden-nexus-logo.webp'" alt="Profile Picture">
  </div>
</div>

<div class="profile-content-container">
  <div class="profile-container" *ngIf="profile">
    <div class="profile-container-heading">
      <h2 class="profile-username">{{ profile.username | titlecase }}</h2>
      <button class="follow-btn" [class.following]="isFollowing" (click)="toggleFollow()" *ngIf="!isOwner" [disabled]="isOwner">
        {{ isFollowing ? 'Following' : 'Follow' }}
      </button>
      <div class="dropdown">
        <button *ngIf="isOwner" class="dropdown-toggle" (click)="toggleBlogDropdown($event)">
          <img src="assets/ellipsis.png" alt="More options" class="ellipsis-icon">
        </button>
        <div class="dropdown-menu" [ngClass]="{'show': showBlogDropdown}">
          <label class="forum-options-label" (click)="openEditProfileModal()">Edit Profile</label>
          <label class="forum-options-label" (click)="deleteProfile()">Delete Profile</label>
        </div>
      </div>
    </div>
    <p><strong>Country:</strong> {{ profile.country || 'Not specified' }}</p>
    <p><strong>Bio:</strong> {{ profile.bio || '(blank)' }}</p>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>

<div id="verification-box" class="profile-content-container" *ngIf="isOwner && profile && profile.isVerified === false">
  <div class="profile-content">
    <div class="verify-profile-container">
      <p>You must verify your account to use the Blog and Forum.</p>
      <p>Check your email for the verification link or click below to resend it.</p>
      <button class="resend-verification-btn" (click)="resendVerificationEmail()">Resend Verification Email</button>
    </div>
  </div>
</div>

<div class="profile-content-container">
  <hr class="styled-hr">
</div>

<div class="profile-content-container">
  <div class="profile-content">
    <h2 class="profile-content-subheading">Recent Blog Posts</h2>
  </div>
  <div class="profile-content">
    <div class="blog-list-container">
      <div class="blog-list-content">
        <div class="blog-item" *ngFor="let blog of displayedBlogs">
          <app-blog-preview [blog]="blog" [source]="'profile'" [username]="profile?.username"></app-blog-preview>
        </div>
      </div>
    </div>
    <div class="load-more-btn-container" *ngIf="blogs.length > displayedBlogs.length">
      <div class="profile-content">
        <button class="load-more-btn" (click)="loadMoreBlogs()">
          <img src="assets/arrow_down.png" alt="Load More">
        </button>
      </div>
    </div>
  </div>
</div>

<div class="profile-content-container">
  <hr class="styled-hr">
</div>

<div class="profile-content-container">
  <div class="profile-content">
    <h2 class="profile-content-subheading">Forum Activity</h2>
  </div>
  <div class="profile-content">
    <div class="forum-list-container">
      <div class="forum-list-content">
        <div class="forum-item" *ngFor="let forum of displayedForums">
          <app-forum-preview [forum]="forum" [source]="'profile'" [username]="profile?.username"></app-forum-preview>
        </div>
      </div>
    </div>
    <div class="load-more-btn-container" *ngIf="forums.length > displayedForums.length">
      <div class="profile-content">
        <button class="load-more-btn" (click)="loadMoreForums()">
          <img src="assets/arrow_down.png" alt="Load More">
        </button>
      </div>
    </div>
  </div>
</div>

<div class="profile-content-container">
  <hr class="styled-hr">
</div>

<div class="profile-content-container">
  <div class="profile-content">
    <h2 class="profile-content-subheading">Following</h2>
  </div>
  <div class="profile-content">
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="isLoadingFollowing" class="loading-indicator">Loading...</div>
    <div class="following-list-container" *ngIf="!errorMessage && !isLoadingFollowing">
      <div class="following-list-content">
        <div class="following-item" *ngFor="let user of displayedFollowing">
          <div class="following-user-info">
            <div class="following-user-picture">
              <img [src]="user.imageFile ? 'data:image/jpeg;base64,' + user.imageFile : 'assets/garden-nexus-logo.webp'" 
                   alt="User profile picture">
            </div>
            <a [routerLink]="['/profile', user.username]" class="following-username">{{ user.username }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="load-more-btn-container" *ngIf="following.length > displayedFollowing.length">
      <div class="profile-content">
        <button class="load-more-btn" (click)="loadMoreFollowing()">
          <img src="assets/arrow_down.png" alt="Load More">
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<app-edit-profile-modal [profile]="profile!" (profileUpdated)="fetchProfile(profile!.username)" *ngIf="isModalOpen" (close)="isModalOpen = false"></app-edit-profile-modal>
