<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<div class="profile-content-container">
  <div class="profile-content">
    <h1 class="profile-heading">Profile</h1>
  </div>
</div>

<div class="img-banner">
  <img class="img-banner-image" src="assets/spacer-img-1.png" alt="User banner image">
</div>

<div class="profile-picture-container">
  <img class="profile-picture" [src]="profile?.imageFile ? 'data:image/jpeg;base64,' + profile!.imageFile : 'assets/garden-nexus-logo.webp'" alt="Profile Picture">
</div>

<div class="profile-content-container">
  <div class="profile-container" *ngIf="profile">
    <div class="profile-container-heading">
      <h2 class="profile-username">{{ profile.username | titlecase }}</h2>
      <img *ngIf="isOwner" src="assets/edit_icon.png" class="edit-icon" (click)="openEditProfileModal()" alt="Edit Profile">
    </div>
    <hr class="styled-hr-left">
    <p><strong>Country:</strong> {{ profile.country || 'Not specified' }}</p>
    <p><strong>Bio:</strong> {{ profile.bio || '' }}</p>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>

<div class="profile-content-container">
  <hr class="styled-hr">
</div>


<div class="profile-content-container">
  <div class="profile-content">
    <h2 class="content-subheading">Recent Blog Posts</h2>
  </div>
  <div class="post-content-container">
    Blogs go here
  </div>

</div>

<div class="profile-content-container">
  <hr class="styled-hr">
</div>

<div class="profile-content-container">
  <div class="profile-content">
    <h2 class="content-subheading">Forum Activity</h2>
  </div>
  <div class="post-content-container">
    Forum posts go here
  </div>

<app-footer></app-footer>

<app-edit-profile-modal [profile]="profile!" (profileUpdated)="fetchProfile(profile!.username)" *ngIf="isModalOpen" (close)="isModalOpen = false"></app-edit-profile-modal>
