<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<div class="login-page">
  <!-- Logo with link to home -->
  <a routerLink="/">
    <img src="/assets/garden-nexus-logo.webp" class="main-logo" />
  </a>
  <div class="form-container">
    <div class="login-header">Reset Your Password</div>
    <div class="instructions">Enter your new password to reset your account.</div>
    
    <!-- Conditional message displays -->
    <div class="success" *ngIf="successMessage">{{ successMessage }}</div>
    <div class="errors" *ngIf="errorMessage">{{ errorMessage }}</div>
    
    <!-- Password reset form -->
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="input-container-no-gap">
        <input
          formControlName="password"
          type="password"
          placeholder="New Password"
          class="login-input"
        />
      </div>
      <div class="word-count">
        Min. length: {{ minPasswordLength }} characters
      </div>
      <div class="input-container">
        <input
          formControlName="confirmPassword"
          type="password"
          placeholder="Confirm New Password"
          class="login-input"
        />
      </div>
      <!-- Dynamic submit button -->
      <button type="submit" class="login-submit-button" [disabled]="isLoading || isPasswordReset">
        {{ isLoading ? 'Resetting...' : (isPasswordReset ? 'Password Reset' : 'Reset Password') }}
      </button>
    </form>
  </div>
</div>

<app-footer></app-footer>