<div class="forum-preview">
  <div class="preview-forum-top">
    <div class="top-left">
      <div class="forum-preview-title">
        <h2><a [routerLink]="['/forum', forum._id]" class="forum-title">{{ forum.title | titlecase }}</a></h2>
      </div>
      <div class="forum-meta">
        <a [routerLink]="['/profile', forumAuthor | lowercase]" class="forum-author">
          By: {{ forumAuthor | titlecase }}
        </a>
        <span class="forum-replies">Replies: {{ commentCount }}</span>
      </div>
    </div>
  </div>
  <div class="preview-forum-bottom">
    <div class="bottom-left">
      <div class="forum-preview-categories">
        <span *ngFor="let category of forum.categories" class="forum-preview-category">{{ category }}</span>
      </div>
    </div>
    <div class="bottom-right">
      <button class="view-forum-btn" *ngIf="forum._id" (click)="viewForum(forum._id)">View Post</button>
    </div>
  </div>
</div>
