<div class="navbar-container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav w-100 d-flex justify-content-around">
          <div class="nav-item left-end" routerLink="/" [class.active]="isActiveRoute('/')">Home</div>
          <div class="nav-item" (click)="goToProfile()" [class.active]="isActiveRoute('/profile')">Profile</div>
          <div class="nav-item" routerLink="/blogs" [class.active]="isActiveRoute('/blogs')">Blogs</div>
          <div class="nav-item" routerLink="/forum" [class.active]="isActiveRoute('/forum')">Forum</div>
          <div class="nav-item right-end" routerLink="/help" [class.active]="isActiveRoute('/help')">Help</div>
        </div>
      </div>
    </div>
  </nav>
</div>
