<app-toolbar></app-toolbar>
<app-navbar></app-navbar>

<div class="login-page">
    <a routerLink="/">
      <img src="/assets/garden-nexus-logo.webp" class="main-logo" alt="Garden Nexus logo" />
    </a>
    <!-- Email verification success message -->
    <div class="verify-success">
        <h2 class="verify-heading">Email Verified Successfully!</h2>
        <p class="verify-content-text">Your email has been verified. You can now use the Blog and Forum.</p>
        <div class="button-container">
          <button class="home-btn" (click)="goToBlogs()">View Blogs</button>
          <button class="home-btn" (click)="goToForum()">View Forum</button>
        </div>
    </div>
</div>

<app-footer></app-footer>