.inline-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 20px;
  width: 100%;
  background-color: #F0EAD2;
}

.inline-toolbar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.blog-header-container {
  margin-bottom: 10px;
}

.blog-header-container h2 {
  color: #6C584C;
  margin: 0;
  font-size: 2.5em;
  text-align: center;
  font-weight: 450;
}

.sort-btns-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.create-post-btn,
.sort-btn {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: #ADC178;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.create-post-btn {
  margin-right: 15px;
  margin-top: 10px;
}

.sort-btn {
  border-radius: 25px;
}

.create-post-btn::before,
.sort-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: all 0.4s ease;
}

.create-post-btn:hover,
.sort-btn:hover {
  background-color: #91A654;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.create-post-btn:hover::before,
.sort-btn:hover::before {
  left: 100%;
}

.create-post-btn:active,
.sort-btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.create-post-btn-container {
  width: 100%;
  padding: 0px;
  background-color: #F0EAD2;
}

.create-post-btn-content {
  display: flex;
  justify-content: end;
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
  width: 100%;
}

.styled-hr {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 0;
  height: 2px;
  background-color: #6C584C;
}

.blog-heading {
  font-size: 3.2em !important;
  margin-bottom: 0 !important;
  color: #6C584C;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 800 !important;
  margin: 10px 0 !important;
}

.blog-options-label {
  background-color: #DDE5B6;
  color: #333;
  transition: background-color 0.3s ease;
  margin: 0;
}

.blog-options-label:hover {
  background-color: #F0EAD2 !important;
}

.search-error-message {
  height: 400px;
  text-align: center;
  color: #6C584C;
  font-size: 1.2em;
  margin-top: 20px;
}

.blog-list-container {
  display: flex;
  justify-content: center;
  padding:  0;
  width: 100%;
}

.blog-list-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.blog-item {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px;
  max-width: calc(33.333% - 20px);
  width: 100%;
}

.load-more-btn-container {
  margin-top: 20px;
}

.load-more-btn {
  background: none;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.load-more-btn img {
  width: 70px;
  height: 70px;
}

.load-more-btn:hover img {
  transform: scale(1.1);
}

.dropdown-placement {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.blog-list-content > :nth-last-child(1):nth-child(4n+1),
.blog-list-content > :nth-last-child(2):nth-child(4n+1),
.blog-list-content > :nth-last-child(3):nth-child(4n+1) {
  justify-self: start;
}

.blog-content-container {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1200px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.blog-content-container p {
  font-size: 1.2em !important;
  font-weight: 500;
}

.edited-text {
  margin-bottom: 0 !important;
}

.blog-author-container {
  margin-top: 40px;
  text-align: right;
}

.blog-btn-bar-container {
  display: flex;
  justify-content: center;
}

.blog-btn-bar {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.blog-author-box {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: #DDE5B6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: auto;
  min-width: 250px;
}

.author-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: center; /* This will vertically center the content */
  height: 100%; /* Ensure the div takes full height of its parent */
}

.blog-author a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1em;
}

.blog-author {
  color: #6C584C;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
  margin: 0 !important;
}

.blog-author::before {
  margin-right: 5px;
}

.blog-author:hover {
  color: #4A4A4A;
}

.blog-author::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ADC178;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.blog-author:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.is-edited-container {
  margin-left: 20px;
}

.delete-img-btn {
  background-color: #6C584C;
  color: #ffffff;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 20px 20px 20px;
}

.delete-img-btn:hover {
  background-color: #b35a5a;
}

.blog-section {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.blog-img {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.blog-content {
  display: flex;
  justify-content: center;
}

.blog-img img {
  width: 90%;
  max-width: 1200px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-btn-container {
  text-align: center;
}

.blog-categories {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.blog-categories-container h4 {
  margin: 0;
  margin-right: 10px;
  font: 450 1.85rem Roboto, sans-serif !important;
  color: #6C584C;
}

.category-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category-label {
  background-color: #f0f0f0;
  color: #333;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.9em;
  margin-bottom: 0 !important;
}



.back-btn {
  background-color: #ADC178;
  color: #ffffff;
  font-size: 1.2em;
  padding: 15px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* @media (max-width: 1700px) {
  .blog-item {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
} */

@media (max-width: 1200px) {
  .inline-toolbar-content {
    flex-direction: column;
    align-items: stretch;
    width: 85%;
  }

  .sort-btns-container {
    flex-direction: row;
    justify-content: center;
  }

  .blog-item {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .blog-content-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .blog-item {
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}

@media (max-width: 992px) {
  .create-post-btn {
    margin: 0 40px;
  }
}

@media (max-width: 768px) {
  .blog-header-container h2 {
    font-size: 2.3em !important;
  }

  .create-post-btn {
    width: 100%;
    margin: 0px 30px;
  }

  .profile-content {
    justify-content: center;
  }

  .create-post-btn-content {
    justify-content: center;
  }



  .blog-heading {
    font-size: 2.2em !important;
    line-height: 1.2em !important;
  }



  .blog-content-container p {
    font-weight: 400;
  }

  .blog-categories-container h4 {
    margin-bottom: 10px;
  }

  .blog-categories {
    padding: 10px;
  }

  .category-labels {
    margin-bottom: 10px;
  }

  .blog-img img {
    max-width: 100%;
  }

  .blog-section {

  }
  
  .blog-author-box {
    margin-bottom: 10px;
    width: 100%;
  }


}