.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

select {
  /* Your existing styles */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) 50%;
  padding-right: 20px;
}

.modal-content {
  background-color: #fdf8e5;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.edit-profile-form {
  padding: var(--bs-modal-header-padding);
}

.modal-header h2 {
  flex-grow: 1;
  margin: 0;
  font-size: 2.2em !important;
  color: #6C584C;
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 34px; /* Adjust the size as needed */
  height: 34px; /* Adjust the size as needed */
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

select,
textarea,
input[type="file"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #DDE5B6;
}

textarea {
  resize: vertical;
  height: 150px;
}

textarea.error,
input[type="file"].error {
  border: 1px solid red; /* Thicker border for error */
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.edit-profile-save-btn,
.edit-profile-cancel-btn {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.edit-profile-save-btn {
  background-color: #ADC178;
  color: #ffffff;
}

.edit-profile-cancel-btn {
  background-color: #8d8888;
  color: #ffffff;
}

.edit-profile-save-btn::before,
.edit-profile-cancel-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: all 0.4s ease;
}

.edit-profile-save-btn:hover,
.edit-profile-cancel-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.edit-profile-save-btn:hover {
  background-color: #91A654;
}

.edit-profile-cancel-btn:hover {
  background-color: #968f8f;
}

.edit-profile-save-btn:hover::before,
.edit-profile-cancel-btn:hover::before {
  left: 100%;
}

.edit-profile-save-btn:active,
.edit-profile-cancel-btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-profile-save-btn:disabled,
.edit-profile-cancel-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.edit-profile-save-btn:disabled:hover,
.edit-profile-cancel-btn:disabled:hover {
  transform: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ADC178;
}

.edit-profile-save-btn:disabled:hover::before,
.edit-profile-cancel-btn:disabled:hover::before {
  left: -100%;
}

.word-count {
  font-size: 14px;
  color: #999;
}

.error-text {
  color: red;
  font-size: 14px;
  font-weight: 400 !important;
}

.file-size-info {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}

/* Media Queries for Responsiveness */
@media (max-width: 767px) {
  .modal-content {
    width: 95%;
    max-width: 500px;
    padding: 15px;
  }

  h2 {
    font-size: 1.8em !important;
  }

  .modal-header {
    margin-bottom: 0;
  }

  .form-group,
  select,
  textarea,
  input[type="file"],
  .edit-profile-save-btn,
  .edit-profile-cancel-btn {
    font-size: 14px;
    padding: 8px;
  }

  .form-group {
    margin-bottom: 0px;
  }

  .button-group {
    flex-direction: column;
    margin-top: 5px;
  }

  .edit-profile-save-btn,
  .edit-profile-cancel-btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
