  body {
    font-family: 'Montserrat', sans-serif;
    color: #4A4A4A;
    line-height: 1.6;
}

* {
  box-sizing: border-box;
  word-wrap: break-word; /* Ensure long words break and wrap within the container */
  overflow-wrap: break-word; /* Ensure long words break and wrap within the container */
  font-family: Roboto, sans-serif !important;
}
