body {

}

* {
  box-sizing: border-box;
  word-wrap: break-word; /* Ensure long words break and wrap within the container */
  overflow-wrap: break-word; /* Ensure long words break and wrap within the container */
  font-family: Roboto, sans-serif !important;
}
