.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F0EAD2;
}

.main-logo {
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-container {
  background-color: #ddd9c4;
  border-radius: 3px;
  padding: 25px;
  max-width: 400px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.login-header {
  text-align: center;
  color: #5e6c84;
  font-size: 1.7em;
  letter-spacing: -0.01em;
  margin-top: 10px;
  margin-bottom: 25px;
}

.login-input {
  font-weight: 500;
  font-size: 1.2em;
  width: 100%;
  background-color: #fafbfc;
  border: 2px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 3px;
  height: 44px;
  padding: 7px;
  margin: 0 0 1.2em;
}

.login-submit-button {
  background-color: #ADC178;
  border-radius: 0.3em;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.8em;
  font-size: 1.2em;
  padding: 0.6em 1.3em !important;
  position: relative;
  border: 0px;
  width: 100%;
}

.login-submit-button:hover {
  background-color: #61bd4f;
}

.bottom-form-links {
  margin-top: 10px;
  text-align: center;
  font-size: 1.1em;
  display: flex;
  padding: 0;
  justify-content: center;
}

.register-link {
  text-decoration: none;
  color: #0052cc;
}

.errors {
  color: #eb5a46;
  font-size: 1.1em;
  margin-bottom: 5px;
  font-weight: 500;
}
