.profile-content-container {
  width: 100%;
  background-color: #F0EAD2;
  padding: 10px;
  position: relative;
}

.profile-container {
  text-align: left;
  margin: 40px auto 0px auto;
  max-width: 65%;
  background-color: #DDE5B6;
  padding: 20px;
  border-radius: 20px;
  word-wrap: break-word; /* Ensure long words break and wrap within the container */
  overflow-wrap: break-word; /* Ensure long words break and wrap within the container */
}

.profile-content {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.profile-container-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
}

.profile-content-subheading {
  width: 100%;
  color: #6C584C;
  font-size: 2.5em;
  font-weight: 500 !important;
  text-align: center;
  position: relative;
  display: inline-block;
}

.profile-username {
  font-weight: 500 !important;
  color: #6C584C;
  margin: 0 !important;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 1 !important;
  max-width: calc(100% - 35px); /* Subtracting the width of the edit icon plus some margin */
}

.profile-username::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ADC178;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.profile-container:hover .profile-username::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.edit-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-top: 5px;
  flex-shrink: 0;
}

.profile-heading {
  font-size: 4em !important;
  margin-bottom: 0 !important;
  color: #6C584C;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
}

/* p {
  font-size: 18px !important;
  color: #555 !important;
  margin: 10px 0 !important;
} */

p strong {
  font-weight: bold;
}

.styled-hr-left {
  width: 60%;
  margin-top: 0;
  margin-bottom: 20px;
  border: 0;
  border-top: 3px solid #6C584C;
  text-align: left;
  opacity: 0.8;
}

.img-banner {
  padding: 0;
  margin: 0;
  position: relative;
}

.img-banner-image {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

.profile-picture-container {
  position: absolute;
  top: 80px; /* Adjust to position the profile picture */
  left: 20%;
  transform: translateX(0%);
  z-index: 10;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #ADC178;
  transition: transform 0.3s ease;
}

.profile-picture-container:hover {
  transform: scale(1.05);
}

.profile-picture {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}



.styled-hr {
  width: 80%;
  margin: 0 auto;
  border: 0;
  border-top: 3px solid #6C584C;
  border-radius: 25px;
  opacity: 0.8;
}



@media (max-width: 992px) {
  .profile-container {
    max-width: 90%;
  }

  .profile-picture-container {
    left: 10%;
  }

  .profile-content-container {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .profile-container {
    max-width: 100%;
  }

  .profile-heading {
    font-size: 2.2em !important;
    line-height: 1.2em !important;
  }

}

@media (max-width: 576px) {
  .profile-container {
    max-width: 100%;
    padding: 20px;
    margin-top: 0px;
  }

  .profile-picture-container {
    width: 150px;
    height: 150px;
  }



  .profile-content {
    max-width: 100%;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
  }
}